body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
    background-image: url('black3.jpg');
}

nav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    margin-right: 0.5%;
}

.nav-links li {
    margin: 0 15px;
}

.navbar li {
    margin: 0 15px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


.logo-icon {
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: middle;
}

.logo a {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

#home {
    background-image: url('black3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px; */
}

.intro-content {
    color: white;
    text-align: center;
    position: absolute;
    /* left: 31%; */
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.intro-content h1 {
    font-size: 2rem;
    margin: 0;
}

.intro-content p {
    font-size: 1rem;
    line-height: 1.5;
}

#urdu {
    background-image: url('black3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px; */
}

.urdu-content {
    color: white;
    text-align: center;
    position: absolute;
    /* left: 31%; */
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.urdu-content h1 {
    font-size: 2rem;
    margin: 0;
}

.urdu-content p {
    font-size: 1rem;
    line-height: 1.5;
}

#french {
    background-image: url('black3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px; */
}

.french-content {
    color: white;
    text-align: center;
    position: absolute;
    /* left: 31%; */
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.french-content h1 {
    font-size: 2rem;
    margin: 0;
}

.french-content p {
    font-size: 1rem;
    line-height: 1.5;
}

#chinese {
    background-image: url('black3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding-left: 50px;
    padding-right: 50px;
    padding-top: 60px; */
}

.chinese-content {
    color: white;
    text-align: center;
    position: absolute;
    /* left: 31%; */
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.chinese-content h1 {
    font-size: 2rem;
    margin: 0;
}

.chinese-content p {
    font-size: 1rem;
    line-height: 1.5;
}

#video {
    background-image: url('black3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    /* padding: 20px; */
    color: white;
}

#video h2 {
    margin-bottom: 10px;
    font-size: 2rem;
    z-index: 1;
}

#video video {
    max-width: 100%;
    max-height: 70vh;
    border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1;
}

@media (max-width: 768px) {
    #video h2 {
        font-size: 1.5rem;
    }

    #video video {
        max-height: 50vh;
    }
}

@media (max-width: 480px) {
    #video h2 {
        font-size: 1.2rem;
    }

    #video video {
        max-height: 40vh;
    }
}

#about {
    background-image: url('black3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.about-me-content {
    color: white;
    text-align: left;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.about-me-content h2 {
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.about-me-content p {
    font-size: 1rem;
    line-height: 1.5;
}

.about-me-image {
    flex: 1;
    text-align: right;
    filter: grayscale(100%);
}

.about-me-image img {
    max-width: 100%;
    height: 25vw;
    margin-right: 5vw;
}

/* #skills {
    background-image: url('black3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} */
#skills {
    background-image: url('black3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    text-align: left;
    width: 100%;
    margin: 0;
}

#skills h2 {
    font-size: 3.4rem;
    text-align: center;
    margin: 0;
    /* Reset margin */
    padding-top: 5%;
    color: white;
}

.skills-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
    margin-left: 5%;
}

.skills-category {
    width: 45%;
}

.skills-category h3 {
    font-size: 1.7rem;
    color: #ddd;
    margin-bottom: 7%;
    border-left: 5px solid #61dafb;
    padding-left: 5%;
    margin-left: 10%;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
}

.skill-item {
    text-align: center;
}

.skill-item a {
    text-decoration: none;
    border: none;
}

.skill-item a:hover {
    text-decoration: none;
}

.skill-item img {
    width: 30%;
    height: 40%;
    margin-bottom: 5%;
}

.skill-item p {
    font-size: 16px;
    color: white;
}

.hard-skills-list {
    list-style-type: none;
    padding-left: 15%;
}

.hard-skills-list li {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 5%;
}

.dropdown-container {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: -23%;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 999;
    width: 150%;
}

.dropdown li {
    display: block;
}

.dropdown li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}


.dropdown-container:hover .dropdown {
    display: block;
}


.language-dropdown {
    position: relative;
}

.language-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -23%;
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 999;
    width: 150%;
}

.language-menu li {
    display: block;
}

.language-menu li a {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}


.language-dropdown:hover .language-menu {
    display: block;
}

#education {
    background-image: url('black3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0;
}

#education h2 {
    font-size: 3.4rem;
    text-align: center;
    margin: 0;
    padding-top: 5%;
    color: white;
}

.degree-category {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    justify-content: center;
    margin-top: 2%;
    padding-left: 4%;
    padding-top: 2%;
    padding-right: 1%;
}

.degree {
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #ddd;
    padding: 2%;
    border-radius: 2rem;
    box-shadow: 0vw 1vw 1vw rgb(0, 0, 0);
}

.degree a {
    text-decoration: none;
    border: none;
}

.degree h3 {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 0.5rem;
}

.degree p {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 0.3rem;
    margin: 5%;
}

#degree-programs {
    background-image: url('black3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    text-align: left;
    width: 100%;
    margin: 0;
}

#degree-programs h2 {
    font-size: 3.4rem;
    text-align: center;
    margin: 0;
    padding-top: 5%;
    color: white;
}

.degree-programs-category {
    display: block;
    margin-top: 2%;
    margin-left: 15%;
    width: 80%;
}

.degree-programs-category h3 {
    font-size: 1.7rem;
    color: #ddd;
    margin-bottom: 2%;
    border-left: 5px solid #61dafb;
    padding-left: 5%;
    margin-left: 20%;
    margin-top: 5%;
}

.degree-programs-list {
    list-style-type: none;
    padding-left: 15%;
    padding-top: 3%;
    margin-left: 11%;
}

.degree-programs-list li {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 2%;
}

#short-courses {
    background-image: url('black3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
    text-align: left;
    width: 100%;
    margin: 0;
}

#short-courses h2 {
    font-size: 3.4rem;
    text-align: center;
    margin: 0;
    padding-top: 5%;
    color: white;
}

.short-courses-category {
    display: block;
    margin-top: 2%;
    margin-left: 15%;
    width: 80%;
}

.short-courses-category h3 {
    font-size: 1.7rem;
    color: #ddd;
    margin-bottom: 2%;
    border-left: 5px solid #61dafb;
    padding-left: 5%;
    margin-left: 20%;
    margin-top: 5%;
}

.short-courses-list {
    list-style-type: none;
    padding-left: 15%;
    padding-top: 3%;
    margin-left: 11%;
}

.short-courses-list li {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 2%;
}



#my-projects {
    background-image: url('black3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 1vw 1vw;
    position: relative;
}

#my-projects h1 {
    margin-bottom: 2%;
    font-size: 2.5rem;
    text-align: center;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.project {
    background-color: rgba(0, 0, 0, 0.7);
    flex: 1 1 30%;
    padding: 2%;
    margin: 1% 2%;
    border-radius: 20%;
    border: 0.1vw solid white;
    box-shadow: 0 4vw 6vw rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    transition: transform 0.2s, box-shadow 0.2s;
    max-width: 20%;
}

.project:hover {
    transform: translateY(-15%);
    box-shadow: 0 6vw 10vw rgba(0, 0, 0, 0.5);
}

.project-date {
    font-size: 0.7rem;
    color: #ddd;
    margin-top: 2%;
}

.project-link {
    display: block;
    color: inherit;
    text-decoration: none;
    /* padding: 20px; */
}

.project-link:hover {
    color: inherit;
}






.center-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}

.center-image img {
    width: 45vh;
    height: 45vh;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid rgb(130, 0, 0);
}









.social-icons {
    position: fixed;
    bottom: 8%;
    left: 1%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

@keyframes float_insta {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-1vw);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(1vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes float_fb {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(1vw);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-1vw);
    }

    100% {
        transform: translateX(0);
    }
}

.social-icons a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s ease;

}

.social-icons .download {
    animation: float_fb 4s ease-in-out infinite;
}

.downlaod-content {
    visibility: hidden;
    font-size: 0.9rem;
    width: 10vw;
    background-color: #34b7f1;
    color: #fff;
    text-align: center;
    border-radius: 5%;
    padding: 1%;
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.social-icons .download:hover .downlaod-content {
    visibility: visible;
    opacity: 1;
}

.social-icons .download:hover {
    color: #34b7f1;
}

.insta-content {
    visibility: hidden;
    font-size: 0.9rem;
    width: 10vw;
    background-color: #E1306C;
    color: #fff;
    text-align: center;
    border-radius: 5%;
    padding: 1%;
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.social-icons .instagram:hover .insta-content {
    visibility: visible;
    opacity: 1;
}

.social-icons .instagram {
    animation: float_insta 4s ease-in-out infinite;
}

.social-icons .instagram:hover {
    color: #E1306C;
}

.fb-content {
    visibility: hidden;
    font-size: 0.9rem;
    width: 10vw;
    background-color: #4267B2;
    color: #fff;
    text-align: center;
    border-radius: 5%;
    padding: 1%;
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.social-icons .facebook:hover .fb-content {
    visibility: visible;
    opacity: 1;
}

.social-icons .facebook {
    animation: float_fb 4s ease-in-out infinite;
}

.social-icons .facebook:hover {
    color: #4267B2;
}

.linkedin-content {
    visibility: hidden;
    font-size: 0.9rem;
    width: 10vw;
    background-color: #005582;
    color: #fff;
    text-align: center;
    border-radius: 5%;
    padding: 1%;
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.social-icons .linkedin:hover .linkedin-content {
    visibility: visible;
    opacity: 1;
}

.social-icons .linkedin {
    animation: float_insta 4s ease-in-out infinite;
}

.social-icons .linkedin:hover {
    color: #005582;
}

.gmail-content {
    visibility: hidden;
    font-size: 0.9rem;
    width: 10vw;
    background-color: #D44638;
    color: #fff;
    text-align: center;
    border-radius: 5%;
    padding: 1%;
    position: absolute;
    left: 110%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.social-icons .gmail:hover .gmail-content {
    visibility: visible;
    opacity: 1;
}

.social-icons .gmail {
    animation: float_fb 4s ease-in-out infinite;
}

.social-icons .gmail:hover {
    color: #D44638;
}






.likes {
    position: fixed;
    bottom: 10%;
    left: 95%;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.likes a {
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
    text-decoration: none;
}

.like-content {
    visibility: hidden;
    font-size: 0.9rem;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    text-align: center;
    border-radius: 5%;
    padding: 0.5rem 1rem;
    position: absolute;
    right: 110%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.likes .like:hover .like-content {
    visibility: visible;
    opacity: 1;
}

.likes .like:hover {
    color: #34b7f1;
}

#like-count {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 0.5rem;
}








footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: center;
    padding: 1vw 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer p {
    margin: 0;
    font-size: 0.8rem;
}

@media (min-width: 1200px) {
    .skills-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .degree-category {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1200px) and (min-width: 600px) {
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .degree-category {
        grid-template-columns: repeat(2, 1fr);
    }

    .project {
        max-width: 30%;
    }

    .logo-icon {
        width: 4vw;
        height: 4vw;
    }
}

@media (max-width: 600px) {

    nav,
    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .logo-icon {
        width: 8vw;
        height: 8vw;
    }

    .center-image img {
        width: 25vh;
        height: 25vh;
    }

    .about-me-image img {
        height: auto;
        width: 90%;
        margin-right: 0;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }

    .degree-category {
        grid-template-columns: 1fr;
    }

    .project {
        flex: 1 1 80%;
        max-width: 100%;
    }

    .skills-container {
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    .skills-category,
    .degree-category {
        width: 100%;
    }

    .about-me-content {
        left: 10%;
    }

    .social-icons {
        bottom: 5%;
        left: 2%;
    }

    .likes {
        left: 90%;
    }

    h1,
    h2,
    h3,
    h4,
    p {
        font-size: 90%;
    }
}